In [60]:
import numpy as np
import pandas as pd
import os
import csv

In [61]:
elec_df = pd.read_csv('C:\\Users\\shash\\Desktop\\Capstone\\hpc_breakdowns.csv')
elec_df.tail(3)

,Unnamed: 0,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
2049277,2075256,26/11/2010,21:00:00,0.938,0.0,239.82,3.8,0.0,0.0,0.0
2049278,2075257,26/11/2010,21:01:00,0.934,0.0,239.70,3.8,0.0,0.0,0.0
2049279,2075258,26/11/2010,21:02:00,0.932,0.0,239.55,3.8,0.0,0.0,0.0

In [62]:
# Slice 200000 for project output prediction

In [63]:
elec_train = elec_df[-200001::-1]
elec_test = elec_df[-200001:-1]
print(elec_test.count())
print(elec_train.count())

Unnamed: 0               200000
Date                     200000
Time                     200000
Global_active_power      199954
Global_reactive_power    199962
Voltage                  199973
Global_intensity         199810
Sub_metering_1           199905
Sub_metering_2           199918
Sub_metering_3           200000
dtype: int64
Unnamed: 0               1849280
Date                     1849280
Time                     1849280
Global_active_power      1847283
Global_reactive_power    1848841
Voltage                  1847276
Global_intensity         1847469
Sub_metering_1           1848078
Sub_metering_2           1848152
Sub_metering_3           1849151
dtype: int64

In [64]:
print(elec_test.info())
print(elec_train.info())
print(elec_test.describe())
print(elec_train.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 1849279 to 2049278
Data columns (total 10 columns):
Unnamed: 0               200000 non-null int64
Date                     200000 non-null object
Time                     200000 non-null object
Global_active_power      199954 non-null float64
Global_reactive_power    199962 non-null float64
Voltage                  199973 non-null float64
Global_intensity         199810 non-null float64
Sub_metering_1           199905 non-null float64
Sub_metering_2           199918 non-null float64
Sub_metering_3           200000 non-null float64
dtypes: float64(7), int64(1), object(2)
memory usage: 15.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1849280 entries, 1849279 to 0
Data columns (total 10 columns):
Unnamed: 0               int64
Date                     object
Time                     object
Global_active_power      float64
Global_reactive_power    float64
Voltage                  float64
Global_intensity         float64
Sub_metering_1           float64
Sub_metering_2           float64
Sub_metering_3           float64
dtypes: float64(7), int64(1), object(2)
memory usage: 141.1+ MB
None
         Unnamed: 0  Global_active_power  Global_reactive_power  \
count  2.000000e+05        199954.000000          199962.000000
mean   1.969826e+06             0.926909               0.134114
std    6.277388e+04             0.865006               0.116423
min    1.862793e+06             0.138000               0.000000
25%    1.912794e+06             0.304000               0.058000
50%    1.970020e+06             0.492000               0.104000
75%    2.025256e+06             1.404000               0.202000
max    2.075257e+06             9.724000               1.108000

             Voltage  Global_intensity  Sub_metering_1  Sub_metering_2  \
count  199973.000000     199810.000000   199905.000000   199918.000000
mean      241.206619          3.946877        0.798844        0.975630
std         2.744536          3.632109        5.030638        4.347238
min       225.320000          0.600000        0.000000        0.000000
25%       239.660000          1.400000        0.000000        0.000000
50%       241.220000          2.200000        0.000000        0.000000
75%       242.750000          5.800000        0.000000        1.000000
max       253.530000         43.000000       81.000000       76.000000

       Sub_metering_3
count   200000.000000
mean         5.823555
std          8.131458
min          0.000000
25%          0.000000
50%          1.000000
75%         17.000000
max         31.000000
         Unnamed: 0  Global_active_power  Global_reactive_power       Voltage  \
count  1.849280e+06         1.847283e+06           1.848841e+06  1.847276e+06
mean   9.300151e+05         1.109487e+00           1.225881e-01  2.408008e+02
std    5.369280e+05         1.074531e+00           1.122589e-01  3.285449e+00
min    0.000000e+00         7.600000e-02           0.000000e+00  2.232000e+02
25%    4.662518e+05         3.100000e-01           4.800000e-02  2.389000e+02
50%    9.285865e+05         6.200000e-01           1.000000e-01  2.409800e+02
75%    1.394411e+06         1.544000e+00           1.920000e-01  2.429000e+02
max    1.862793e+06         1.112200e+01           1.390000e+00  2.541500e+02

       Global_intensity  Sub_metering_1  Sub_metering_2  Sub_metering_3
count      1.847469e+06    1.848078e+06    1.848152e+06    1.849151e+06
mean       4.701519e+00    1.157207e+00    1.333928e+00    6.527056e+00
std        4.517695e+00    6.262426e+00    5.960130e+00    8.466702e+00
min        2.000000e-01    0.000000e+00    0.000000e+00    0.000000e+00
25%        1.400000e+00    0.000000e+00    0.000000e+00    0.000000e+00
50%        2.800000e+00    0.000000e+00    0.000000e+00    1.000000e+00
75%        6.400000e+00    0.000000e+00    1.000000e+00    1.700000e+01
max        4.840000e+01    8.800000e+01    8.000000e+01    3.100000e+01

In [65]:
import re
elec_train["Hour"]= elec_train["Time"].apply(lambda x: x[:2])
elec_train["Year"]= elec_train["Date"].apply(lambda x: x[-4:])
elec_train["Month"]= elec_train["Date"].apply(lambda x: re.split(r'/',x)[1])
elec_new = elec_train.drop(elec_train.columns[[0,1,2]], axis = 1, inplace = True)
elec_train.head()

C:\Users\Amal\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Amal\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Amal\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Amal\Anaconda3\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Hour,Year,Month
1849279,0.374,0.202,235.70,1.8,0.0,0.0,0.0,07,2010,7
1849278,0.376,0.204,236.15,1.8,0.0,0.0,1.0,07,2010,7
1849277,0.378,0.204,236.54,1.8,0.0,0.0,1.0,07,2010,7
1849276,0.386,0.216,236.69,1.8,0.0,0.0,0.0,07,2010,7
1849275,0.450,0.322,236.90,2.4,0.0,2.0,1.0,07,2010,7

In [66]:
# Drop Null values
elec_train.dropna(axis = 0, inplace = True)

C:\Users\Amal\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [18]:
# Random Forest

In [19]:
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
elec_train_dum = pd.get_dummies(elec_train,drop_first=True)
elec_y = elec_train_dum[['Global_intensity']]
elec_X = elec_train_dum.drop(columns ='Global_intensity')
print(elec_X)
print(elec_y)

         Global_active_power  Global_reactive_power  Voltage  Sub_metering_1  \
1849279                0.374                  0.202   235.70             0.0
1849278                0.376                  0.204   236.15             0.0
1849277                0.378                  0.204   236.54             0.0
1849276                0.386                  0.216   236.69             0.0
1849275                0.450                  0.322   236.90             0.0
...                      ...                    ...      ...             ...
4                      3.666                  0.528   235.68             0.0
3                      5.388                  0.502   233.74             0.0
2                      5.374                  0.498   233.29             0.0
1                      5.360                  0.436   233.63             0.0
0                      4.216                  0.418   234.84             0.0

         Sub_metering_2  Sub_metering_3  Hour_01  Hour_02  Hour_03  Hour_04  \
1849279             0.0             0.0        0        0        0        0
1849278             0.0             1.0        0        0        0        0
1849277             0.0             1.0        0        0        0        0
1849276             0.0             0.0        0        0        0        0
1849275             2.0             1.0        0        0        0        0
...                 ...             ...      ...      ...      ...      ...
4                   1.0            17.0        0        0        0        0
3                   1.0            17.0        0        0        0        0
2                   2.0            17.0        0        0        0        0
1                   1.0            16.0        0        0        0        0
0                   1.0            17.0        0        0        0        0

         ...  Month_11  Month_12  Month_2  Month_3  Month_4  Month_5  Month_6  \
1849279  ...         0         0        0        0        0        0        0
1849278  ...         0         0        0        0        0        0        0
1849277  ...         0         0        0        0        0        0        0
1849276  ...         0         0        0        0        0        0        0
1849275  ...         0         0        0        0        0        0        0
...      ...       ...       ...      ...      ...      ...      ...      ...
4        ...         0         1        0        0        0        0        0
3        ...         0         1        0        0        0        0        0
2        ...         0         1        0        0        0        0        0
1        ...         0         1        0        0        0        0        0
0        ...         0         1        0        0        0        0        0

         Month_7  Month_8  Month_9
1849279        1        0        0
1849278        1        0        0
1849277        1        0        0
1849276        1        0        0
1849275        1        0        0
...          ...      ...      ...
4              0        0        0
3              0        0        0
2              0        0        0
1              0        0        0
0              0        0        0

[1840645 rows x 44 columns]
         Global_intensity
1849279               1.8
1849278               1.8
1849277               1.8
1849276               1.8
1849275               2.4
...                   ...
4                    15.8
3                    23.0
2                    23.0
1                    23.0
0                    18.4

[1840645 rows x 1 columns]

In [20]:
# Train Test Split

In [21]:
X_train, X_test , y_train , y_test = train_test_split(elec_X,elec_y,test_size=3,random_state=26)

In [25]:
from sklearn.model_selection import GridSearchCV
#create a new rf classifier
rf = RandomForestRegressor(n_jobs=-1)

#create a dictionary of all values we want to test for n_estimators
params_rf = {'n_estimators': [20,30], 'max_features': [17,25]}

#use gridsearch to test all values for n_estimators
rf_gs = GridSearchCV(rf, params_rf, cv=4)

#fit model to training data
rf_gs.fit(X_train, y_train)

C:\Users\Amal\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Amal\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Amal\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Amal\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Amal\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Amal\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Amal\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Amal\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Amal\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Amal\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Amal\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Amal\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Amal\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Amal\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Amal\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Amal\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:516: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\Amal\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:715: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv=4, error_score='raise-deprecating',
             estimator=RandomForestRegressor(bootstrap=True, criterion='mse',
                                             max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators='warn', n_jobs=-1,
                                             oob_score=False, random_state=None,
                                             verbose=0, warm_start=False),
             iid='warn', n_jobs=None,
             param_grid={'max_features': [17, 25], 'n_estimators': [20, 30]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [26]:
rf_gs.best_params_

{'max_features': 25, 'n_estimators': 30}

In [27]:
rf_best = rf_gs.best_estimator_
rf_best.score(X_test, y_test)

0.9997465886939572

In [28]:
# Implementation

In [67]:
elec_test["Hour"]= elec_test["Time"].apply(lambda x: x[:2])
elec_test["Year"]= elec_test["Date"].apply(lambda x: x[-4:])
elec_test["Month"]= elec_test["Date"].apply(lambda x: re.split(r'/',x)[1])
elec_test.drop(elec_test.columns[[0,1,2]], axis = 1, inplace = True)
elec_test.dropna(axis = 0, inplace = True)
elec_test.head()

C:\Users\Amal\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Amal\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Amal\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Amal\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Hour,Year,Month
1849279,0.374,0.202,235.70,1.8,0.0,0.0,0.0,07,2010,7
1849280,0.376,0.208,237.01,1.8,0.0,0.0,1.0,07,2010,7
1849281,0.380,0.218,239.24,1.8,0.0,0.0,0.0,07,2010,7
1849282,0.378,0.216,238.64,1.8,0.0,0.0,1.0,08,2010,7
1849283,0.378,0.218,239.13,1.8,0.0,0.0,1.0,08,2010,7

In [68]:
elec_test['Real'] = 1
elec_train['Real'] = 0
combine = pd.concat([elec_train, elec_test])
Unseen_data_dum =pd.get_dummies(combine, drop_first =True)

C:\Users\Amal\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Amal\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [69]:
elec_test = Unseen_data_dum[Unseen_data_dum['Real']==1]
elec_test.drop(columns = 'Real', axis =1, inplace = True)
elec_train = Unseen_data_dum[Unseen_data_dum['Real']==0]
elec_train.drop(columns = 'Real',axis =1, inplace = True)

In [70]:
unseen_y = elec_test[['Global_intensity']]
unseen_X = elec_test.drop(columns='Global_intensity',axis=1)

In [71]:
from sklearn.metrics import mean_squared_error, r2_score
y_pred = rf_best.predict(unseen_X)
r2_score(unseen_y, y_pred)

0.9988506319556817